<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meetup{% endblock title %}</title>
</head>
<body>
    <h1><a href="{% url 'show_groups' %}">Meetup</a></h1>
    {% if user.is_authenticated %}
        <span>Logged in as: {{user}}</span>
        &nbsp;&nbsp;
        <a href="{% url 'logout' %}">Logout</a>
        <hr>
    {% endif %}
    {% block content %}{% endblock content %}
</body>
</html>